body {
  padding: 45px 0 1% 0; /* push for fixednav */
  width: 99%;
  -webkit-font-smoothing: subpixel-antialiased; /* fix webkit font rendering */
  font-family: Georgia, serif;
  font-size: 0.875rem;
}

/* Eliminate whitespace between fixednav and main content */
body.page-template-page-featured {
  padding: 28px 0 10px 0; /* push for fixednav */
}

body, figure {
  margin: 0;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover, a:active {
  text-decoration: underline;
  color: inherit;
}

@media only screen and (max-width: 639px) {
  ul {
    -webkit-margin-end: 3%;
  }
  textarea {
    width: 97%;
  }
}
