.featured-image {
	height: 100vh;
	width: 100%;
	background-color: gray;
	overflow: hidden; 
}
.textcontainer {
	background-color: transparent;
	font-size: 15px;
	color: white;
	margin-left: 20vw;
	background-color: transparent;
	font-size: 15px;
	color: white;
	position: absolute;
	top: 80vh;
	height: 20vh;
	width: 100vw;
}
/* for slick carousels */
.arrow-left, .arrow-right {
  z-index: 1;
  transition: opacity 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
  position: fixed;
  background-color: #ffffff;
  opacity: 0.5;
  padding: 2em 1em;
  margin-top: auto;
  margin-bottom: auto;
}
.arrows-container {
	top: 50vh;
}
.slick-slider {
	-webkit-user-select: text; 
}
.slick-slide {
	height: auto;
}
/* override wordpress classes */
.customize-support { 
    margin: 0px;
}
.textcontainer a{ /*override link coloring */
    color: white;
    text-decoration: none;
    cursor: auto;
}