.iconbar {
  display: inline-block;
  vertical-align: middle;
}
.iconbar-social i {
  margin: 0 .2em;
}
.iconbar-search {
  color: white;
  background-color: transparent;
  font-size: .7em;
  float: right;
}