.hmedia, .hmedia .block, .vmedia, .vmedia .block {
  overflow: auto;
}
.vmedia {
  width: 100%;
  margin-bottom: 10px;
}
.hmedia-list {
  margin-bottom: 25px;
}
.hmedia .thumbnail {
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
.vmedia .thumbnail {
  margin-bottom: 10px;
}

.thumbnail {
  margin-bottom: .75em;
}
.clip {
  margin-bottom: 1em;
}

.thumbnail-secondary {
  display: none;
}
.thumbnail-lede { /* category page */
  width: 390px;
}
.thumbnail-large { /* main latest */
  width: 230px;
}
.thumbnail-small { /* regular thumbnail */
  width: 195px;
}
.thumbnail-xsmall { /* sidebar latest stories */
  width: 90px;
}

.adbox {
  background-color: #eee;
  padding: 1em;
}

@media screen and (max-width: 959px) {

  .vmedia .thumbnail {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
    overflow: hidden;
    width: 50%;
  }
  .thumbnail-secondary {
    display: block;
  }
}

@media only screen and (max-width: 639px) {
  .hmedia .thumbnail {
    width: 30%;
    height: auto;
    float: left;
  }
  .vmedia .thumbnail {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
  }
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  .hmedia {
    overflow: hidden;
    margin-right: 3%;
  }
}
