.hmedia, .hmedia .block, .vmedia, .vmedia .block {
  overflow: auto;
}
.vmedia {
  width: 100%;
  margin-bottom: 10px;
}
.hmedia-list {
  margin-bottom: 25px;
}
.hmedia .thumbnail {
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
.vmedia .thumbnail {
  margin-bottom: 10px;
}

.thumbnail {
  margin-bottom: .75em;
}
.clip {
  margin-bottom: 1em;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
.thumbnail-secondary {
  display: none;
}
.thumbnail-lede {
  width: 390px;
  height: calc(390px * 2/3);
}
.thumbnail-sidebar {
  width: 300px;
  height: calc(300px * 2/3);
}
.thumbnail-large { /* news featured, main latest */
  width: 230px;
  height: calc(230px * 2/3);
}
.thumbnail-medium { /* main sections */
  width: 214px;
  height: calc(214px * 2/3);
}
.thumbnail-small {
  width: 195px;
  height: calc(195px * 2/3);
}
.thumbnail-xsmall {
  width: 90px;
  height: calc(90px * 2/3);
}

.adbox {
  background-color: #eee;
  padding: 1em;
}

@media screen and (max-width: 959px) {
  .thumbnail img {
    width: 100%;
  }
  .vmedia .thumbnail {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
    overflow: hidden;
    width: 50%;
  }
  .thumbnail-secondary {
    display: block;
  }
}

@media only screen and (max-width: 639px) {
  .hmedia .thumbnail {
    width: 30%;
    height: auto;
    float: left;
  }
  .vmedia .thumbnail {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
  }
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  .hmedia {
    overflow: hidden;
    margin-right: 3%;
  }
}
