/* layout */

.container {
  width: 960px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 2.5%;
  position: relative;
  overflow: auto;
}
.row {
  overflow: hidden;
  margin: 10px 0;
}
.main {
  width: 66.666%;
  float: left;
}
.main-half {
  width: 45.396%;
  float: left;
}
.main-threeeigth {
  width: 35.0625%;
  float: left;
}
.main-fiveeigth {
  width: 61.7292%;
  float: left;
}
.sidebar {
  width: 31.25%;
  float: right;
}
.threecolumn {
  width: 32.083%;
  float: left;
}
.fourcolumn {
  width: 23.646%;
  float: left;
}
.twocolumn {
  width: 48%;
  padding: 0 1%;
  float: left;
}

/* lines */

@import "lines";

/* columns */

@import "columns";

/* navigation */

@import "navigation";

