.hline {
  margin: 15px 0;
  clear: both;
  width: 100%;
}
.hline-background {
  position: absolute;
  top: .5em;
  z-index: -1;
  border-top: 1px solid #c8c8c8;
}
.hline-strong {
  border-top: 1px solid #000;
}
.hline-medium {
  border-top: 1px solid #c8c8c8;
}
.sidebar .hline:last-child {
  display: none;
}
