.fixednav {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
  color: #fff;
  background-color: #005a9c;
  font-family: 'Droid Sans',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/* page header */

.logo {
  display: inline-block;
  float: left;
}
.currentissue {
  width: 200px;
  margin: 4% 0 0 4%;
  padding: 3px 0 3px 10px;
  float: left;
  border-left: 3px solid #005a9c;
  line-height: 1.3em;
}
.sectionhead {
  text-align: center;
  position: relative;
}
.sectionhead-text {
  font-size: 2.25rem;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sectionhead-text-centered {
  padding: 0 20px;
  background-color: #fff;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.nav-list > li {
  display: inline-block;
  margin: .35em 0 0 2em;
}
.nav-list > li > a {
  display: block;
  text-align: center;
}

.search-bar {
  display: none;
  border-top: 2px solid #006BBA;
  padding: 10px 0 5px 0;
  margin-top: 10px;
  .search-field {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .2);
    color: #FFF;
    text-align: center;
    font-size: 1rem;
  }
  input[type="search"],
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
}

.nav-button {
  display: none;
  font-size: 1.5em;
  float: left;
  cursor: pointer;
}
.search-button {
  font-size: 1.5em;
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .logo {
    float: none;
    text-align: text-align;
  }

  .nav-button {
    display: block;
  }

  .nav-list {
    display: none;
    width: 100%;
    border-top: 2px solid #006BBA;
    padding: 10px 0 5px 0;
    margin-top: 10px;
  }
  .nav-list > li {
    display: block;
    margin: 0;
  }
  .nav-list > li > a {
    padding: 10px 0;
  }
  .nav-list > li > a:hover {
    background-color: #006BBA;
    text-decoration: none;
  }
}
