.fixednav {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
  color: #fff;
  background-color: #005a9c;
  font-family: 'Droid Sans',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/* page header */

.nav-logo {
  display: inline-block;
  float: left;
}
.home-logo {
  display: block;
  float: left;
  width: 70%;
}
.tagline {
  width: 26%;
  margin: 0 2% 1.5em 2%;
  padding: 3px 0 3px 15px;
  border-left: 3px solid #005a9c;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1.3em;
  font-family: 'Droid Sans',sans-serif;
  font-weight: 400;
}

.sectionhead {
  text-align: center;
  position: relative;
}
.sectionhead-text {
  font-size: 2.25rem;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sectionhead-text-centered {
  padding: 0 20px;
  background-color: #fff;
  display: inline-block;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.nav-list > li {
  display: inline-block;
  margin: .3em 0 .3em 2.5em;
}
.nav-list > li > a {
  display: block;
  text-align: center;
}

.search-bar {
  display: none;
  border-top: 2px solid #006BBA;
  padding: 10px 0 5px 0;
  margin-top: 10px;
  .search-field {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .2);
    color: #FFF;
    text-align: center;
    font-size: 1rem;
  }
  input[type="search"],
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
}

.nav-button {
  display: none;
  font-size: 1.5em;
  float: left;
  cursor: pointer;
}
.search-button {
  font-size: 1.5em;
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .nav-logo {
    float: none;
  }
  .home-logo {
    margin: 0 15% .5em 15%;
  }
  .tagline {
    width: 100%;
    padding: .75em 0 0 0;
    margin: 0;
    border-left: 0;
    border-top: 1px solid #c8c8c8;
    position: relative;
    clear: both;
    text-align: center;
  }

  .nav-button {
    display: block;
  }

  .nav-list {
    display: none;
    width: 100%;
    border-top: 2px solid #006BBA;
    padding: 10px 0 5px 0;
    margin-top: 10px;
  }
  .nav-list > li {
    display: block;
    margin: 0;
  }
  .nav-list > li > a {
    padding: 10px 0;
  }
  .nav-list > li > a:hover {
    background-color: #006BBA;
    text-decoration: none;
  }
}
@media screen and (max-width: 639px) {
  .home-logo {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
