.fixednav {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.fixednav-main {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Droid Sans', sans-serif;
  background-color: #005a9c;
  color: #fff;
}
.fixednavs-alt > form, .fixednavs-alt > form {
  white-space: nowrap;
  display: inline-block;
}

.side-menu {
  height: 100%;
  display: none;
  position: fixed;
  width: 20em;
  z-index: 5;
  background-color: #444;
  color: #fff;
}
.side-heading {
  padding: 1em;
}
.side-menu-icon {
  margin-left: 1em;
}
.side-menu-list {
  display: none !important; /* need to figure out a way to avoid !important */
}
.side-menu a {
  text-decoration: none;
}
.side-menu > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 85%;
  overflow-y: scroll;
  z-index: 6;
}
.side-menu > ul > li {
  padding: 1.5em 1em;
}
.side-menu > ul > li:hover {
  background-color: #666;
  cursor: pointer;
  transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
}
.side-menu > ul > li.slick-active {
  background-color: #666;
  transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
}

.horizontallist {
  margin: 0;
  padding: 0;
  float: left;
}
.horizontallist li {
  display: inline-block;
  margin: 4px 0 0 26px;
}
/* I don't think these styles are generic to "horizontal lists" they are
   coupled to the use of horizontal lists in the navbar. */
.horizontallist li a {
  text-decoration: none;
  color: #fff;
}
.logo {
  float: left;
}
.search-field {
  width: 117px;
  height: 20px;
  margin: 0 10px;
  float: right;
  border: none;
  outline: none;
}
.currentissue {
  width: 200px;
  margin: 4% 0 0 4%;
  padding: 3px 0 3px 10px;
  float: left;
  border-left: 3px solid #005a9c;
  line-height: 1.3em;
}
.sectionhead {
  text-align: center;
  position: relative;
}
.sectionhead-text {
  font-size: 2.25rem;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.sectionhead-text-centered {
  padding: 0 20px;
  background-color: #fff;
}

/* Did not have chance to conform to new CSS style guidelines.
 * Also, the new navbar is buggy right now, have not integrated properly.
 */
/* Prettifiers */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.fixednav {
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  z-index: 5;
  background-color: #005A9C;
  
  font-family: 'Droid Sans',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.nav-link {
  color: #ffffff;
  display: block;
  /*height: 100%;*/
  text-align: center;
  text-decoration: none;
}
.nav-list {
    background-color: #005A9C;
    height: 100%;
    color: #ffffff;
}
.nav-item:hover {
}
.help {
  height: 100%;
  text-decoration: none;
  display: none;
}
.nav-item {
    float: left;
    /*height: 100%;*/
    /*width: 16%;*/
    display: inline-block;
    margin: 4px 0 0 26px;
}
/* purpose unknown */
.nav-link {
    position: relative;
}

@media screen and (max-width: 959px) and (min-width: 640px){
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
  }
  .help {
    font-family: 'Droid Sans',sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #ffffff;
    float: right;
    background-color: #005A9C;
    position: relative;
    /*text-align: left;
    text-indent: -9999px;*/
    /*width: 100%;*/
  }
  #nav:not(:target) > .container > .show, #nav:target > .container > .hide {
    display: block;
    margin-top: -10px;
    float: left;
  }
  .nav-list {
    display: none;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    padding: 8px 0;
  }
  #nav:target > .container > .nav-list {
    display: block;
  }
  .nav-item {
    float: none;
    width: 100%;
    margin: 8px 0 0 0;
  }
  .nav-link {
    height: auto;
    padding: 0 0.833em;
    text-align: left;
  }

  .main {
    border-right: none;
  }

  #nav {
    width: 80%;
  }
  #search {
    width: 20%;
    float: right;
    margin-top: -35px;
    background-color: #005a9c;
  }
  #search:not(:target) > .container > .show, #search:target > .container > .hide {
    display: block;
    margin-top: -5px;
    float: right;
  }
  .search-form {
    display: none;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    padding: 8px 0;
    margin-top: 35px;
  }
  #search:target > .container > .search-form {
    display: block;
  }
  .search-field {
    float: left;
    width: 70%;
  }

}

@media only screen and (max-width: 639px) {
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
  }
  .help {
    font-family: 'Droid Sans',sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #ffffff;
    float: right;
    background-color: #005A9C;
    position: relative;
    /*text-align: left;
    text-indent: -9999px;*/
    /*width: 100%;*/
  }
  #nav:not(:target) > .container > .show, #nav:target > .container > .hide {
    display: block;
    margin-top: -10px;
    float: left;
  }
  .nav-list {
    display: none;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    padding: 8px 0;
  }
  #nav:target > .container > .nav-list {
    display: block;
  }
  .nav-item {
    float: none;
    width: 100%;
    margin: 8px 0 0 0;
  }
  .nav-link {
    height: auto;
    padding: 0 0.833em;
    text-align: left;
  }
  .main {
    border-right: none;
  }

  #nav {
    width: 80%;
  }
  #search {
    width: 20%;
    float: right;
    margin-top: -35px;
    background-color: #005a9c;
  }
  #search:not(:target) > .container > .show, #search:target > .container > .hide {
    display: block;
    margin-top: -5px;
    float: right;
  }
  .search-form {
    display: none;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    padding: 8px 0;
    margin-top: 35px;
  }
  #search:target > .container > .search-form {
    display: block;
  }
  .search-field {
    float: left;
    width: 70%;
  }

}