.gallery-container {
  width: 100%;
  position: relative;
}
.slicktarget {
  height: 100%;
}
.imagearea {
  height: 400px;
  width: 100%;
  background-color: #000;
}
.textarea {
  margin-top: 5px;
  width: 100%;
}
.gallery .slick-item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: 100%;
  margin: auto;
}