@media screen and (max-width: 959px) and (min-width: 640px){
	.logo{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	float: inherit;
	}
	.container {
		width: 98%;
		padding: 0 3px;
	}
	.row {
		margin: 4px 0;
	}
	.main {
		width: 99%;
	}
	.main-half {
		width: 48.59%;
	}
	.main-threeeigth {
		width: 36.09%;
	}
	.main-fiveeigth {
		width: 61.09%;
	}
	.sidebar {
		width: 100%;
		border-top: 1px solid #c8c8c8;   /*this replaces the bottom border that was removed from the posts widgets */
		padding-top: 5px;    
	}
	.threecolumn {
		width: 32%;
	}
	.fourcolumn {
		width: 23%;
	}
	.twocolumn {
		width: 48%;
	}
	.vline-medium {
		border-right: none;
		padding-right: 4px;
		margin-right: 4px;
		margin-bottom: 4px;
	}
	.vspace {
		padding-right: 6px;
		margin-right: 6px;
	}
	.hline {
		margin: 12px 0;
	}
	.hline-background {
		top: 4px;
	}
	.hline-strong {
		border-top: 1px solid #000;
	}
	.hline-medium {
		border-top: 1px solid #c8c8c8;
	}
	.row img{
		width: 90%;
	}
	.sidebar1 img {   /*for sidebar1 img */
		height: 30%;
		width: 30%;
		margin-left: 34%;
	}
  	.iconbar-social img {   /*for social media icons */
	  	margin-right: 7px;
		width: 20%;
		height: 20%;
	}
	.metatext {
		margin-right: 3px;    /* for footer */
	}
	
	.widget_text {        /*for featured article */
		float: left;
		margin-left: 3px;
	}
	.widget_statesman_latest_post {   /* for other sidebar articles */
		width: 30%;
		float: left;
		margin-left: 3px;
	}
	.thumbnail img {
		width: 100%;
	}
	.sidebar .hmedia {
    width: 50%;
    float: left;
	}
	#nav:not(:target) > .container > .show, #nav:target > .container > .hide {
    display: block;
	}
	.help {
    font-family: 'Droid Sans',sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #ffffff;
    float: left;
    background-color: #005A9C;
    position: relative;
    margin-top: -9px;
	}
	li.nav-item {
    float: left;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
	}

	a.nav-link{
	display: block;
	padding: 0 0.833em;
	text-align: left;
	}

	ul.nav-list{
	padding: 8px 0;
	visibility: hidden;
	}
	.textwidget {
    text-align: center;
	}
}


/* placeholders for other screen widths (tablet especially)
@media only screen and (min-width: 960px) {
  
}
@media only screen and (max-width: 959px) and (min-width: 640px) {
  
}*/

@media only screen and (max-width: 639px) {
  .help {
    font-family: 'Droid Sans',sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #ffffff;
    
    
    float: right;
    
    background-color: #005A9C;
    position: relative;
    /*text-align: left;
    text-indent: -9999px;*/
    /*width: 100%;*/
  }
  #nav:not(:target) > .container > .show, #nav:target > .container > .hide {
    display: block;
  }
  .nav-list {
    display: none;
    height: auto;
    left: 0;
    right: 0;
    padding: 8px 0;
  }
  #nav:target > .container > .nav-list {
    display: block;
  }
  .nav-item {
    float: none;
    width: 100%;
    margin: 8px 0 0 0;
  }
  .logo {
    padding: 0 0.833em;
  }
  .nav-link {
    height: auto;
    padding: 0 0.833em;
    text-align: left;
  }
  .main {
  	width: 97%;
  }
  .main .thumbnail {
  	width: 30%;
  	height: auto;
  	float: left;
  }
  .main-half {
    width: 47.396%;
  }
  .fourcolumn {
  	display: none;
  }
  .sidebar {
  	width: 100%;
  	float: none;
  }	
  .thumbnail img {
  	width: 100%;
  	height: auto;
  }
  .textwidget img {
  	width: 98%;
  }
  .fourcolumn {
  	width: 99%;
  	float: none;
  }
  .threecolumn img {
  	width: 99%;
  }
  .iconbar-social img {   /*for social media icons */
	margin-right: 1%;
	width: 20%;
	height: auto;
  } 
  .content-width {
  	width: 97%;
  } 
  ul {
  	-webkit-margin-end: 3%;
  }
  textarea {
  	width: 97%;
  }
  .logo {
  	width: 87%;
  }
  .threecolumn {
	width: 30.083%;
  }
  .hmedia {
  	overflow: hidden;
  	margin-right: 3%;
  }
  .metatext {		
  	margin-right: 5%;    /* for footer */
  }
  .vline-medium {
  	border-right: none;
  }
}