@media only screen and (max-width: 639px) {
  .help {
    font-family: 'Droid Sans',sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #ffffff;
    
    
    float: right;
    
    background-color: #005A9C;
    position: relative;
    /*text-align: left;
    text-indent: -9999px;*/
    /*width: 100%;*/
  }
  #nav:not(:target) > .container > .show, #nav:target > .container > .hide {
    display: block;
  }
  .nav-list {
    display: none;
    height: auto;
    left: 0;
    right: 0;
    padding: 8px 0;
  }
  #nav:target > .container > .nav-list {
    display: block;
  }
  .nav-item {
    float: none;
    width: 100%;
    margin: 8px 0 0 0;
  }
  .logo {
    padding: 0 0.833em;
  }
  .nav-link {
    height: auto;
    padding: 0 0.833em;
    text-align: left;
  }
  .main {
  	width: 97%;
  }
  .main .thumbnail {
  	width: 30%;
  	height: auto;
  	float: left;
  }
  .main-half {
    width: 47.396%;
  }
  .fourcolumn {
  	display: none;
  }
  .sidebar {
  	width: 100%;
  	float: none;
  }	
  .thumbnail img {
  	width: 100%;
  	height: auto;
  }
  .textwidget img {
  	width: 98%;
  }
  .fourcolumn {
  	width: 99%;
  	float: none;
  }
  .threecolumn img {
  	width: 99%;
  }
  .iconbar-social img {   /*for social media icons */
	margin-right: 1%;
	width: 20%;
	height: auto;
  } 
  .content-width {
  	width: 97%;
  } 
  ul {
  	-webkit-margin-end: 3%;
  }
  textarea {
  	width: 97%;
  }
  .logo {
  	width: 87%;
  }
  .threecolumn {
	width: 30.083%;
  }
  .hmedia {
  	overflow: hidden;
  	margin-right: 3%;
  }
  .metatext {		
  	margin-right: 5%;    /* for footer */
  }
  .vline-medium {
  	border-right: none;
  }
}