/* typography */

h1 {
  font-size: 24px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.25em;
}
h2 {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.25em;
}
h3 {
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.25em;
}
h4 {
  font-size: 16px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.25em;
}
h5 {
  font-size: 14px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0 0 10px 0;
  line-height: 1.25em;
}
h6 {
  font-size: 16px;
  color: #005a9c;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.xlarge-text {
  font-size: 42px;
}
.large-text {
  font-size: 16px;
}
.small-text {
  font-size: 12px;
}
.coloredtext {
  color: #005a9c;
}
.uppercasetext {
text-transform: uppercase;
}
.articletype {
  text-transform: uppercase;
  color: #005a9c;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0 0 4px 0;
}
.excerpt {
  font-size: 13px;
  color:#4b4b4b;
  line-height: 1.6em;
  margin: 5px 0;
}
.headline {
  font-size: 34px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.2em;
}
.articletext {
  line-height: 1.6em;
}
.articletext p {
  margin-bottom: 1.3em;
  margin-top: 0;
  min-width: 100px;
}
.articletext p:before { /* to prevent text wrap for narrow column */
  content: "";
  width: 10em;
  display: block;
  overflow: hidden;
}
.metatext {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 2px;
  color: #4b4b4b;
}
.metatext-dark {
  color: #000;
}
.metatext-colored {
  color: #005a9c;
}
.metatext-byline {
  margin: 8px 0;
  text-transform: uppercase;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}